@use "../scss/custom" as *;

body {
	background-color: $bgcolor;
}

.navbar-brand {
	@include logo-font;
}

// .nav-b {
// 	@include logo-font;
// }

.navfont {
	@include nav-font;
}
.contact-btn {
	@include contact-button;
}

.bg-nav-mobile {
	background-color: $prycolor;
	// border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.myname {
	@include myname-font;
}

.myintro {
	@include myintro-font;
}

.hireme {
	@include hireme-button;
}

.bi {
	color: $prycolor;
}

// .inverse {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// }
// @media screen and (max-width: 767px) {
// 	.inverse {
// 		bottom: 0;
// 		top: auto;
// 	}
// }
