@use "../scss/custom" as *;

body {
	background-color: $bgcolor;
}

.navbar-brand {
	@include logo-font;
}

.menu {
	li {
		padding: 0 0.75rem;
		a {
			// color: white !important;
			// text-transform: capitalize
			font-weight: 600;
		}
	}
}

// .nav-b {
// 	@include logo-font;
// }

// .navfont {
// 	@include nav-font;
// }

.contact-btn {
	@include contact-button;
}

.contact-btn:hover {
	color: white;
}

.bg-nav-mobile {
	background-color: $prycolor;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.myname {
	@include myname-font;
}

.myintro {
	@include myintro-font;
}

.hireme {
	@include hireme-button;
}

.bi {
	color: $prycolor;
	height: 35px;
}

.subheader {
	@include subheading-font;
	margin-bottom: 0% !important;
}

.p-font {
	@include pfonts;
}

hr {
	@include hr-line;
	margin-top: 0% !important;
	// padding-top: 0% !important;
}

// .services {
// }

// .inverse {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// }
// @media screen and (max-width: 767px) {
// 	.inverse {
// 		bottom: 0;
// 		top: auto;
// 	}
// }
